<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Subject List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Subject List</h1>
<a href="addSubject">Add Subject</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Subject name</th>
            <th>Teacher</th>
            <th>Secondary Teachers</th>
            <th>Update/Delete</th>
        </tr>
        <tr th:each ="subject : ${subjects}">
            <td th:utext="${subject.titleSubject}">...</td>
            <td th:utext="${subject.teacherSubject.getFirstName() + ' ' + subject.teacherSubject.getLastName()} "></td>
            <td>
                <div th:each="secondary : ${subject.getSecondaryTeachers()}">
                    <p th:utext="${secondary.getFirstName() + ' ' + secondary.getLastName()}"></p>
                </div>

            </td>
            <td sec:authorize="hasRole('ROLE_MANAGER')">
                <a th:href="@{/showSubjectUpdateForm/{id}(id=${subject.id})}">Update</a>
                <a th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
            </td>

            <td sec:authorize="hasRole('ROLE_TEACHER')"
                th:if="${#authentication.name == subject.teacherSubject.getLastName()}">
                <a th:href="@{/showSubjectUpdateForm/{id}(id=${subject.id})}">Update</a>
                <a th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
            </td>

        </tr>

    </table>


</div>

<a href="/">Home page</a>
</body>
</html>