<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Update Subject</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Update a Subject</h1>

<form th:action="@{/addSubject}"
      th:object="${subjectForm}" method="POST">
    <div sec:authorize="hasRole('ROLE_TEACHER')">
        <input type="hidden" th:field="*{id}" />
        Subject Name:
        <input type="text" th:field="*{titleSubject}"/>
        <br/>
    </div>

    <div sec:authorize="hasRole('ROLE_MANAGER')">
        <input type="hidden" th:field="*{id}" />
        Subject Name:
        <input type="text" th:field="*{titleSubject}"/>
        <br/>
        <select th:field="*{teacherSubject}">
            <option th:each ="teacher : ${teachers}"
                    th:value="${teacher.id}"
                    th:utext="${teacher.getFirstName() + ' ' + teacher.getLastName()}">

            </option>
        </select>
        Secondary teachers :
        <input type="text" th:field="*{secondaryTeachers}" />
    </div>

    <input type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>